
@{
    Layout = null;
    string decimalLength = "";

    if (ViewBag.BundleUnit.ToUpper() == "ROLL")
    {
        decimal length = Convert.ToDecimal(ViewBag.Length) / Convert.ToDecimal(ViewBag.OriginalLength);
        var arr = length.ToString().Split('.', ',');
        if (arr.Length > 1)
        {
            decimalLength = arr[0].ToString() + "." + arr[1].ToString().PadRight(2) + ViewBag.BundleUnit + "(" + ViewBag.Length + ViewBag.OriginalLengthUnit.ToUpper() + ")";
        }
        else
        {
            decimalLength = arr[0].ToString() + ViewBag.BundleUnit + "(" + ViewBag.Length + ViewBag.OriginalLengthUnit.ToUpper() + ")";
        }
    }
    else
    {
        decimalLength = ViewBag.Length.ToString() + ViewBag.BundleUnit + "(" + ViewBag.Length + ViewBag.OriginalLengthUnit.ToUpper() + ")";
    }
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Printf QR code</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/grcodejs/qrcode.js"></script>
    <link href="~/CSS/Font/font.css" rel="stylesheet" />
</head>
<body>
    <div id='barcode'>
        <table class='table'>
            <tbody>
                <tr>
                    <td rowspan='8'>
                        <div id='QRCODE' title='@ViewBag.MaterialCode'>
                            <canvas width='100' height='100' style='display: none;'></canvas>
                        </div>
                    </td>
                    <td style='width:80px'>Code</td>
                    <td class='tenlieu'>@ViewBag.MaterialNo</td>
                </tr>
                <tr>
                    <td style='width:80px'>Material</td>
                    <td>@ViewBag.MaterialName</td>
                </tr>
                <tr>
                    <td style='width:80px'>Size</td>
                    <td class='tenlieu'>@ViewBag.Width@ViewBag.WidthUnit.ToUpper()*@ViewBag.OriginalLength@ViewBag.OriginalLengthUnit.ToUpper()</td>
                </tr>
                <tr>
                    <td style='width:80px'>Lot No</td>
                    <td>@ViewBag.LotNo</td>
                </tr>
                <tr>
                    <td style='width:80px'>Quantity</td>
                    <td class='tenlieu'>@decimalLength</td>
                </tr>
                <tr>
                    <td style='width:80px'>Export Date</td>
                    <td>@ViewBag.DateExport</td>
                </tr>
                <tr>
                    <td style='width:80px'>Date of Receipt</td>
                    <td>@ViewBag.DateReceived</td>
                </tr>
                <tr>
                    <td style='width:80px'>Expiration Date</td>
                    <td>@ViewBag.DateExpired</td>
                </tr>
                <tr>
                    <td colspan='3' class='text-center'>@ViewBag.MaterialCode</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<style type='text/css'>
    body {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        color: #000;
        font-family: 'Roboto-Bold'
    }

    img {
        width: 110px;
        margin: 5PX;
    }

    .tenlieu {
        font-size: 14px;
        padding: 0 5px;
    }

    .table {
        width: 415px;
        height: 188px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

        table > tbody > tr > td:nth-child(2), table > tbody > tr > td:nth-child(1) {
            padding: 0 5px;
        }

        table > tbody > tr:nth-child(9) > td {
            text-align: center;
        }
</style>
<script type="text/javascript">
$(document).ready(function () {
    var code = new QRCode(document.getElementById('QRCODE'), {
        width: 100,
        height: 100,
        text: '',
    });
    code.makeCode('@ViewBag.MaterialCode');
});
</script>
</html>
